    <nav>
        <a routerLink="/Home">Home</a>
        <a routerLink="/About">About</a>
        <a routerLink="/Interviewforyou">i4U Form</a>
        <div class="animation start"></div>
        <div id="component">
            <img src="https://scontent.fmaa2-2.fna.fbcdn.net/v/t39.30808-6/271715226_1843280399393046_2513573502693100800_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=aCArk_fG18MAX9xsdjn&_nc_ht=scontent.fmaa2-2.fna&oh=00_AT8VyqlKF1orOzgQvcZrI58c4BUcysIjSbyay7y9Lfpcqg&oe=61E874F3" width="65px" height="50px">
        </div>
    </nav>

<router-outlet></router-outlet>