<p>home works!</p>
<html>
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;

  }

#Hello
{
  margin-top: 200px;
  text-align: center;
  color: #d32fd3;
}

#Welcome
{
  text-align: center;
  cursor: text;
}


</style>


<body>

<div id="Hello"><h1>i4U</h1><br></div>

<div id="Welcome">
<h3>Welcome all to my website</h3>

<h4>Using this website you can search <img src="https://pic.onlinewebfonts.com/svg/img_456268.png"width="15px" height="15px"> any job you are familiar with.</h4>

</div>

</body>
</html>